* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5efed;
  font-family: "Cairo", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5efed;
  flex-direction: column;
  position: relative;
}
.container h1 {
  text-align: center;
  background-color: #2292a4;
  color: #f5efed;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.container .box {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 500px;
  background-color: #fff;
  margin-top: 20px;
}
.container .box .description {
  width: 100%;
  height: 30px;
  text-align: center;
  color: #2292a4;
  border-bottom: 1px solid #2292a4;
  margin-bottom: 20px;
}
.container .box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box form .range {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .box form .range input[type=range] {
  width: 90%;
  margin: 8px 0;
  accent-color: #2292a4;
}
.container .box form .range p {
  font-size: 14px;
  background: #2292a4;
  color: #fff;
  width: 20px;
  height: 20px;
  margin: 0;
  display: flex;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.container .box form .options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.container .box form .options .option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .box form label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 200;
}
.container .box form input[type=checkbox] {
  margin-right: 8px;
  accent-color: #2292a4;
}
.container .box form button {
  background-color: #2292a4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
}
.container .box form button:hover {
  background-color: #196c7a;
}
.container .box form .clear {
  background-color: #f03a47;
}
.container .box form p {
  margin-top: 16px;
  font-size: 18px;
  word-wrap: break-word;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #bdbf09;
  background-color: rgba(34, 147, 164, 0.4784313725);
  color: #000000;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #111111;
  color: #fff;
  font-size: 12px;
}
.container footer a {
  color: #d96c06;
  margin-left: 30px;
}

@media (max-width: 480px) {
  .container {
    padding-inline: 20px;
  }
  .container .box {
    width: 100%;
  }
  .container .box .description {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */